@import 'help/variables';
@import 'help/animations';
.container {
    margin: 0 auto;
    max-width: 950px;
}
* {
    font-family: 'Museo Moderno', sans-serif;
}

@import 'block/promo';
@import 'block/header';
@import 'block/buttons';
@import 'block/advantage';
@import 'block/consultation';
@import 'help/media';
@import 'block/carusel';
@import 'block/catalog';
@import 'block/review';
@import 'block/footer';
@import 'block/modal';
@import 'block/forms';
@import 'block/pageup';

