@media (max-width: 991px) {
    .container {
        max-width: 95%;
    }

    .consultation__title {
        font-size: 32px;
    }

    .carusel {
        .carusel__inner {
            width: 80%;
            img {
                width: 100%;
            }
        }
    }

    .catalog {
        .catalog__content {
            justify-content:space-around;
        }
    }
  
}

@media (max-width: 767px) {

    
    .container {
        width: 90vw;
    }


    .advantage__icon {
        width: 33%;
    }
    .button_mobile  {
        width: 140px;
    }
    .header__text , .header__tel {
        display: none;
    }

    .header__logo {
        width: 50%;
    }

    .promo {
        min-height: 600px;
        padding: 10px 0 88px;
    }

    .promo__title {
        font-size: 35px;
    }

    .promo__subtitle {
        font-size: 18px;
        line-height: 20px;
    }

   

    .button_mobile-2 {
        width: 60%;
    }

    

    .promo__icons {
        width: 100%;
    }

    .promo__icon {
        width: 120px;
    }
  
    .advantage__wrapper {
        flex-direction: column;
    }

    .advantage__icon {
        width: 50%;
    }

    .advantage__text {
        display: block;
        width: 237px;
        margin: 20px auto;
    }

    .consultation__title {
        width: 100%;
        font-size: 23px;
    }

    .review {
        .review__item {
            flex-direction: column;
        }
        .review__text {
            display: block;
            margin: 16px auto 0;
        }
        .review__content {
            margin-top: 20px;
        }
        .review__descr {
            text-align: center;
        }
        .review__subtitle {
            text-align: center;
        }

        .review__round {
            margin: 0  auto;
        }

    }
   
}
    
      
  

@media (max-width: 575px) {

    .carusel {
        .slick-dots {
            li  {
                button::before {
                    font-size: 20px;
                }
                
            }
        }
         
    }

    .consultation__title {
        font-size: 21px;
    }

    .consultation {
        .form {
            width: 100%;
            input {
                margin: 0 auto;
                width: 80%;
                margin-bottom: 11px;
                
            }
        }
    }
   

    .promo__title {
        font-size: 22px;
        line-height: 20px;
    }

    .promo__subtitle {
        font-size: 13px;
        line-height: 10px;
        margin-top: 16px;
    }

    .button_mobile-2 {
        width: 85%;
    }
    .advantage {
        padding: 45px 0 50px;
    }

    .advantage__title {
        font-size: 23px;
        line-height: 0;
    }
   

    .advantage__icon {
        width: 100%;
    }

    .consultation__descr {
        font-size: 15px;
    }

    .catalog {
        .catalog__tabs {
            flex-wrap: wrap;
            .catalog__tab {
                margin-top: 5px;
            }
        }
        .catalog-item {
            width: 280px;
            &__wrapper {
                width: calc(200% + 30px);
            }
            &__descr {
                font-size: 13px;
            }
            &__list {
                font-size: 11px;
            }
        }

    }

    .review {
        .review__title {
            font-size: 27px;
        }

        .review__text {
            width: 100%;
        }
    }
}